html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,form,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
ul{list-style:none}
button,input,select,textarea{margin:0}
html{box-sizing:border-box}
*,*:before,*:after{box-sizing:inherit}
img,embed,iframe,object,video{height:auto;max-width:100%}
audio{max-width:100%}
iframe{border:0}
table{border-collapse:collapse;border-spacing:0}
/*td,th{padding:0;text-align:left}*/
a{text-decoration: none}


body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	background-color: #333;
	color: #eee;
}

main {
	position: relative;
}

a {
    color: inherit;
}

a:hover {
    color: #535353;
}

h1::first-letter {
	text-transform: uppercase;
}

h2 {
	font-size: 1.5em;
	text-align: center;
}

/* Barre de navigation */
nav {
	position: relative;
	width: 100%;
	background-color: #4a4a4a;
	text-align: center;
	height: 42px;
}

nav li {
	float: left;
	display: inline-block;
	width: 20%;
}

nav li:hover {
	color : #FFFFFF;
	text-decoration: underline;
	transition: 0.2s;
}

nav a {
	display:block;
	width: 100%;
	padding: 10px 0;
	color: #fff;
}

nav a:hover {
	color: #fff;
}

#menu,
#menu ul {
	text-align: center;
	width: 100%;
}

#menu li:hover ul {
	max-height: 400px;
}

/* Couleur d'arrière plan des liens du sous-menu */
#menu li {
	position: relative;
	background: #4e4d4d;
}

/* Couleur d'arrière plan des liens du menu et sous-menu au survol */
#menu li:hover,
#menu li:hover,
.active,
.button:hover {
	background: #3f3f3f;
}

/* Sous-menu */
.sous-menus li {
	width: 100%;
}

.sous-menus {
	position: absolute;
	z-index: 10;
	max-height: 0;
	overflow: hidden;
}


/* Contenu principal */
h1 {
	position: relative;
	text-align: center;
	font-size: 4em;
	font-weight: bold;
	margin: 20px;
}

h2 {
	margin-bottom: 30px;
}

#p_contact {
	display: block;
	padding: 2% 35%;
	text-align: justify;
}

/* Zone de texte */
.article_container {
    display: flex;
    position: relative;
	top: 40px;
	width: 100%;
	font-size: 1.2em;
	padding: 2% 10%;
	background-color: #555;
}

.article_container div {
    width: 50%;
}

.article_container h2 {
    font-size: 1.5em;
    font-weight: bold;
	text-align: right;
}

.article_container p {
    padding: 5px;
	text-align: justify;
}

.article_container img {
    width: 44%;
	max-width: 500px;
    margin: 2%;
    height: auto;
    align-items: center;
    object-fit: contain;
}

.article_container:nth-child(odd) {
    background-color: inherit;
    flex-direction: row-reverse;
}

.article_container:nth-child(odd) h2{
    text-align: left;
}

/* Bouton */
.button,
.button:visited {
	display: block;
	width: -moz-fit-content;
	margin: 10px auto;
	padding: 4px 8px;
	background-color: #555;
	color: #fff;
	border-radius: 5px;
}

.button:hover {
	color: #fff;
	background-color: #444;
}


/* page : login.php */
.connexion_container {
	width: 270px;
	padding: 20px;
	margin: 50px auto;
	border-radius: 8px;
	background-color: white;
}

.connexion_container h2 {
	font-size: 1.3em;
	font-weight: bold;
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}

.connexion_container label {
	width: 100%;
	background-color: #fff;
}

.connexion_container input {
	width: 100%;
	margin: 10px 0;
	color: inherit;
	border-radius: 2px;
	border: 1px solid;
	background-color: #ddd;
}

/* autre bouton */
.submit {
	font-weight: bold;
	padding: 4px 6px;
	border-radius: 5px;
	background-color: #444;
	color: #ddd;
}

.submit:hover {
	background-color: #333;
}

input[type="text"][type="password"] {
	width: 150px;
}
 /* message succès ou echec */
.success {
	font-size: .8em;
	padding: 5px;
	width: -moz-fit-content;
	background-color: #ada;
	border-radius: 4px;
	border: 1px solid #292;
	color: #292;
	margin: 10px auto;
	text-align: center;
}

.error {
	font-size: .8em;
	padding: 5px;
	width: -moz-fit-content;
	background-color: #daa;
	border-radius: 4px;
	border: 1px solid #a11;
	color: #a11;
	margin: 10px auto;
	text-align: center;
}

.good {
	background-color: #7a7;
}

.good:hover {
	background-color: #5a5;
}

.bad {
	background-color: #b77;
}

.bad:hover {
	background-color: #b55;
}

/* formulaire */
form {
	text-align: center;
}

/* tableau */
table {
	border: 3px solid #4e4d4d;
	margin: 20px auto;
	text-align: center;
}

thead,
.tr-important {
	color: #fff;
	background-color: #555;
}

th {
	padding: 4px 8px;
}

td {
	padding: 2px 4px;
	border: 2px solid #4e4d4d;
}

tbody tr:hover {
	background-color: #222;
}

.tr-important:hover {
	background-color: #4e4d4d;
}

.comms_input {
	position: relative;
	width: 510px;
	height: 85px;
	border-radius: 5px;
	background-color: #666;
	margin: 0 auto;
}

.comms_for {
	text-align: center;
}

.comms_text {
	position: absolute;
	left: 10px;
	resize: none;
	width: 400px;
	height: 50px;
}

.comms_button {
	position: absolute;
	width: 80px;
	height: 40px;
	margin: 5px 10px;
	right: 0;
}

.comms_side {
	position: absolute;
	top: 0;
	left: 10px;
	width: 200px;
	border: 3px solid #000;
}

.comms_comm {
	position: relative;
	width: 50%;
	height: auto;
	margin: 30px auto;
	border: 1px solid #bbb;
}

.comms_head {
	position: relative;
	height: 1.2em;
	background-color: #666;
}

.comms_contact {
	position: absolute;
	left: 0;
}

.comms_timestamp {
	position: absolute;
	right: 0;
}

.comms_message {
	position: relative;
	word-break: break-all;
}
